*.dcu
*.~*~
*.local
*.dres
*.res
#backup files
*.~*
*.identcache
__history
*.drc
*.map
*.exe
*.dll
*.wfx
#gnu gettext compiled translate
*.mo
AccessConfig.pas
bin/*
key.txt
TCBOX.log
Distr/tcbox.zip
Distr/locale
